{% extends "homepage.html" %}

{% block css_js %}
    <script type="text/javascript" src="http://libs.baidu.com/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript"
            src="https://cdn.staticfile.org/twitter-bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script type="text/javascript"
            src="https://cdn.bootcss.com/bootstrap-validator/0.5.3/js/bootstrapValidator.js"></script>
    <link href="static/neo4jd3/neo4jd3.min.css" rel="stylesheet">
    <script type="text/javascript" src="static/js/DrugRisk/neovis.js"></script>
    <script type="text/javascript" src="static/js/DrugRisk/index.js"></script>
    <script src="static/neo4jd3/d3.v4.min.js"></script>
    <script src="static/neo4jd3/neo4jd3.min.js"></script>
{% endblock %}
{%block css %}

<style>
    label {
        display: inline-block;
        width: 100px;
    }
    input{
        width:200px;
    }
    #neo4jd3viz {
        width: 100%;
        height: 500px;
        border: 1px solid lightgray;
        font: 22pt arial;
    }
    #div{border:1px solid #000;}
    #margin10{margin:15px;}
    .safeStyle{
        background: #1cc09f;
    }
    .warnStyle{
        background: #eea236;
    }
    .dangerStyle{
        background: #ff0000;
    }
    .roundpill {
        border-radius: 3rem!important;
    }
    .prescription{
        align:left;
        margin:20px;
        width:100%;
        {#height: 500px;#}
        overflow: hidden;
        border:1px solid #FF0000;
    }
    .neo4jd3 {
        margin:20px;
        width:100%;
        float:left;
        {#height: 500px;#}
        overflow: hidden;
        border:1px solid #000;
    }
    .clearfloat{
        clear:both;
    }
</style>
{% endblock %}


{% block content %}

<div id ="prescription" class="prescription" style="border-radius: 3rem!important;background-color:lightgrey;border: grey solid 2px;margin:10px 20px;padding:5px;float:left;width:44%;height: 800px;">

    <div name="inputAndDetect" class="row roundpill" style="margin:15px;padding:0px 10px 0px 30px;">
        <div class="col-md-5 col-lg-5" style="align:left;align-self: center;align-content: center;padding:0px;">
        <input type="file" name = "fileInput" id = "fileInput"  style="display:none;posotion:absolute;width:60px;height:30px;"/>
            <a class="btn btn-w-m btn-outline btn-primary pull-left" id="addPrescription" style="width:70px;margin: 3px;" onclick="fileInputClick()">
                <i class="fa fa-plus"></i> 处方
            </a>
        </div>
        <div class="col-md-2 col-lg-2" style="">
        </div>
        <div class="col-md-offset-2 col-lg-offset-2 col-md-2 col-lg-2" style="">
            <button type="button" class="btn btn-primary search" style="width:115px;margin:3px;" onclick="evaluateR()">
                <i class="fa fa-search"></i>  检测
            </button>
        </div>
    </div>

    <div name="patient" class="row roundpill" style="border-radius: 3rem!important;background: white;margin: 20px;padding:8px 15px 8px 15px;height:165px;">
        <div name="patientOperation" class="row">
            <div class="col-sm-2 col-lg-2 col-md-2" style="align:center;align-self: center;align-content: center;">
                <a class="btn btn-w-m btn-outline btn-primary pull-left" id="addPatient" style="width:70px;margin: 5px" data-toggle="modal" data-target="#myModal">
                    <i class="fa fa-plus"></i> 患者
                </a>
            </div>
            <div class="col-sm-4 col-md-3 col-lg-3">
                <button type="button" class="btn btn-primary search" style="width:85px;margin:5px 5px 5px 30px;" onclick="deletePatient()">
                    <i class="fa "></i>  删除
                </button>
            </div>
        </div>
        <div name="patientInfo" class="row">
            <div class=" col-md-9 col-lg-9" style="">
                <table class="table" id="patient_table">
                    <tr>
                        <td id="age">年龄: </td>
                        <td id="sex">性别:</td>
                    </tr>
                    <tr>
                        <td id="height">身高: </td>
                        <td id="weight">体重: </td>
                    </tr>
                    <tr>
                        <td collapse="2" id="allergy">过敏: </td>
                    </tr>
                </table>
            </div>
            <div class=" col-md-3 col-lg-3" style="margin-top:-30px;">
                <img src="../static/images/male.png" style="height:115px;">
            </div>
        </div>
    </div>

    <div name="diag" class="row roundpill" style="border-radius: 3rem!important;background: white;margin: 20px;padding:8px 15px 8px 15px;;height:200px;">
        <div name="diagOperation"  class="row">
            <div class="col-sm-1 col-md-1 col-lg-1">
                <img src="../static/images/disease.png" style="height: 50px;margin-top:-10px;margin-left:-10px">
            </div>
            <div class="col-sm-4 col-md-4 col-lg-3">
            {% csrf_token %}   <!--加入这行 -->
                <input type="text" name="diagInput" placeholder="选择诊断" class="form-control" id="diagInput"  list="diagbatch_list" autocomplete="off" style="width:150px;margin:5px 0px 0px 10px;">
                <datalist id="diagbatch_list">
                </datalist>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">
            {% csrf_token %}   <!--加入这行 -->
            <a class="btn btn-w-m btn-outline btn-primary pull-left" id="adddiag" style="width:50px;margin:5px 0px 0px 10px;float: left;" onclick="addDiag()" >
                <i class="fa fa-plus"></i> 病症
            </a>
            </div>
            <div class="col-lg-offset-1 col-sm-3 col-md-3 col-lg-3">
                <button type="button" class="btn btn-primary search" style="width:85px;margin:5px 20px 0px 0px;" onclick="clearD(this)">
                    <i class="fa "></i>  清除
                </button>
            </div>
        </div>
        <div name="diagInfo" class="row" style="padding:3px;margin:5px;">
            <table class="table table-striped" id="diag_table" style="width: 100%;padding:5px;">
                <thead>
                <tr>
                    <th style="width:80%">疾病</th>
                    <th style="width:20%;align:center;">操作</th>
                </tr>
                </thead>
                <tbody id="diagtbody">

                </tbody>
            </table>
        </div>
    </div>

    <div name="drug" class="row roundpill" style="border-radius: 3rem!important;background: white;margin: 20px;padding:8px 15px 8px 15px;;height:290px;">
        <div name="drugOperation"  class="row" style="">
            <div name="drugImg" class="col-sm-1 col-md-1 col-lg-1">
                <img src="../static/images/drug.png" style="height: 50px;margin-top:-10px;margin-left:-10px">
            </div>
            <div class="col-sm-4 col-md-4 col-lg-3">
            {% csrf_token %}   <!--加入这行 -->
                <input type="text" name="medInput" placeholder="选择药物" class="form-control" id="medInput"  list="medbatch_list" autocomplete="off" style="width:150px;margin:5px 0px 0px 10px;;">
                <datalist id="medbatch_list">
                </datalist>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">
            {% csrf_token %}   <!--加入这行 -->
            <a class="btn btn-w-m btn-outline btn-primary pull-left" id="addMed" style="width:50px;margin:5px 0px 0px 10px;;float: left;" onclick="addMed()" >
                <i class="fa fa-plus"></i> 药物
            </a>
            </div>
            <div class="col-lg-offset-1 col-sm-3 col-md-3 col-lg-3">
                <button type="button" class="btn btn-primary search" style="width:85px;margin:5px 20px 0px 10px;" onclick="clearP(this)">
                    <i class="fa "></i>  清除
                </button>
            </div>
        </div>
        <div name="drugInfo"  class="row" style="padding:3px;margin:5px;">
            <table class="table table-striped" id="med_table" style="width: 100%;padding:3px;">
                <thead>
                <tr>
                    <th style="width:80%">药物</th>
{#                    <th style="width:30%">剂量</th>#}
                    <th style="width:20%;align:center;">操作</th>
                </tr>
                </thead>
                <tbody id="presctbody">
                </tbody>
            </table>
        </div>
    </div>

    <div style="clear: both;"></div>
</div>

<div id="analysis" style="border-radius: 3rem!important;background-color:lightgrey;border:grey solid 2px;float:left;width:51%;margin:10px 20px;padding:20px;height: 800px;">
    <div name="DetectResult" style="align-self:center;float:left;margin-bottom:5px;">
        <div style="float:left;"><h2  style="font-weight:800;padding: 0px 20px;margin:10px 20px 0px 20px;">   检测结果: </h2></div>
        <div style="float: left;"><h2 id="evaluateResult" style="font-weight:800;padding: 0px 20px;margin:10px 20px 0px -40px;"></h2></div>
    </div>
    <div style="clear: both"></div>
    <div name="Risk" class="row">
    <div name="RiskTables" class="col-sm-11 col-lg-11 col-md-11" style="height:390px; border: grey solid 2px;border-radius: 3rem!important;background: white;margin: 20px 10px 20px 30px;padding:8px 15px 8px 15px;">
    {#    <div><h3>该疾病在历史真实处方中出现{{ count }}次</h3></div>#}
        <div style="margin-bottom:10px; padding-left: 5px;">
            <h3>药物相互作用风险: </h3>
        </div>
        <table id="adverseTable" class="table table-striped">
          <thead>
            </thead>
            <tbody>
                <tr>
                    <th style="width:30%">无</th>
                    <th style="width:30%"> </th>
                    <th style="width:30%"> </th>
                </tr>
            </tbody>
        </table>
        <div style="margin-bottom:10px;padding-left: 5px;">
            <h3>药不对症风险：</h3>
        </div>
        <table id="YBDZTable" class="table table-striped">
          <thead>
            </thead>
            <tbody>
                <tr>
                    <th style="width:30%">无</th>
                    <th></th>
                </tr>
            </tbody>
        </table>
        <div style="margin-bottom:10px;padding-left: 5px;">
            <h3>个体用药风险：</h3>
        </div>
        <table id="customTable" class="table table-striped">
          <thead>
            </thead>
            <tbody>
                <tr>
                    <th style="width:5%">无</th>
                    <th style="width:5%"> </th>
                    <th style="width:10%"> </th>
                </tr>
            </tbody>
        </table>
        </table>

    </div>
{#    <div name="RiskRadar" class="width:260px;height:260px; col-sm-4 col-lg-4 col-md-4" style="border: grey solid 2px;border-radius: 3rem!important;background: white;margin: 20px 20px 20px 15px;padding:8px 5px 8px 15px;">#}
{#        <div id="RiskRadar"  style="height: 100%;width: 100%;" ></div>#}
{#        <img src="../static/images/radar.png"style="width:250px;height:250px;">#}
{#    </div>#}
    </div>
    <div id="drugRiskviz" style="float:left;align:center;width:95%;height: 275px;border: grey solid 2px;border-radius: 2rem!important;background: white;margin: 5px 15px 15px 15px;"></div>
{#    <div id="drugRiskviz" class="row col-sm-11 col-lg-11 col-md-11" style="height:260px;border: grey solid 2px;border-radius: 3rem!important;background: white;margin: 20px;padding:8px 15px 8px 15px;"></div>#}

</div>
<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
{#                    患者信息#}
                    Patient Info
                </h4>
            </div>
            <form class="form-horizontal" id="form_data">
			<div class="container">
				<div class="row" style="padding-top:15px"><div class="col-md-12"></div> </div>
				<div class="row" style="padding-top:5px">
					<div class="col-md-1 col-lg-1"></div>
					<div class="col-md-1 col-lg-1">性别:</div>
					<div class="col-md-2 col-lg-2">
						<label class="radio-inline">
							<input type="radio" name="sex" id="male" value="male" checked> 男
						</label>
						<label class="radio-inline">
							<input type="radio" name="sex" id="female"  value="female"> 女
						</label>
					</div>
					<div class="col-md-1 col-lg-1"></div>
				</div>
                <div class="row" style="padding-top:10px"><div class="col-md-12"></div> </div>
				<div class="row" style="padding-top:10px">
					<div class="col-md-1 col-lg-1"></div>
					<div class="col-md-1 col-lg-1">年龄: </div>
					<div class="col-md-2 col-lg-2">
						<input type="text" id="age" name="age" style="float:left;"/>
					</div>
					<div class="col-md-2 col-lg-2"></div>
				</div>
				<div class="row" style="padding-top:10px">
					<div class="col-md-1 col-lg-1 "></div>
					<div class="col-md-1 col-lg-1">身高(cm): </div>
					<div class="col-md-2 col-lg-2">
						<input type="text" id="height" name="height" style="float:left;"/>
					</div>
					<div class="col-md-2 col-lg-2"></div>
				</div>
				<div class="row" style="padding-top:10px">
					<div class="col-md-1 col-lg-1"></div>
					<div class="col-md-1 col-lg-1">体重(kg): </div>
					<div class="col-md-2 col-lg-2">
						<input type="text" id="weight" name="weight" style="float:left;"/>
					</div>
					<div class="col-md-2 col-lg-2"></div>
				</div>
				<div class="row" style="padding-top:10px;padding-bottom:15px">
					<div class="col-md-1 col-lg-1"></div>
					<div class="col-md-1 col-lg-1">过敏史: </div>
					<div class="col-md-3 col-lg-3">
						<input type="text" id="allergy" name="allergy" style="float:left;"/>
					</div>
					<div class="col-md-1 col-lg-1"></div>
				</div>
			</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">close
                </button>
                <button type="submit" onclick="addPatient()" data-dismiss="modal" class="btn btn-primary">
                    OK
                </button>
            </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>



{% endblock %}
{% block js %}
<script type="text/javascript">
$(function () {
    $('#myModal').bootstrapValidator({
        fields: {
            age: {
                message: 'Error Age',
                validators: {
                    notEmpty: {
                        message: '年龄不能为空'
                    },
                     stringLength: {
                         min: 1,
                         max: 3,
                         message: '年龄长度必须在1到3之间'
                     },
                    regexp: {
                        regexp: /^[0-9]+$/,
                        message: '年龄只能包含数字'
                    }
                }
            },
            height: {
                validators: {
                    notEmpty: {
                        message: '身高不能为空l'
                    },
                    stringLength: {
                        min: 2,
                        max: 3,
                        message: '身高必须在2到3位之间'
                    },
                    regexp: {
                        regexp: /^[0-9]+$/,
                        message: '身高只能包含数字'
                    }
                }
            },
            weight: {
                validators: {
                    notEmpty: {
                        message: '体重不能为空'
                    },
                    stringLength: {
                        min: 1,
                        max: 3,
                        message: '体重长度必须在1到3位之间'
                    },
                    regexp: {
                        regexp: /^[0-9]+$/,
                        message: '体重只能包含数字'
                    }
                }
            }
        }
    })
});

    var medslist = [];
    var diagslist = [];
    var patient = [];
    var risk = ""
    var prescriptionDemo = [ //随机读取的处方列表
        "女，25，164，63，未发现:糖尿病:普通胰岛素注射液",
        "男，57，176，66，头孢呋辛酯片:糖尿病性肾病,结肠癌术后:普通胰岛素注射液,注射用氯诺昔康,醋酸地塞米松片,格列齐特缓释片,头孢呋辛酯片",
        "男，67，169，76，无:中耳炎,头痛:注射用美洛西林钠舒巴坦钠,阿司匹林肠溶片",
        "男，37，166，56，无:糖尿病:注射用美洛西林钠舒巴坦钠,阿司匹林肠溶片"]
    {#var prescriptionDemo = [ //随机读取的处方列表#}
    {#    "female，25，164，63，none:糖尿病:普通胰岛素注射液",#}
    {#    "male，57，176，66，头孢呋辛酯片:糖尿病性肾病,结肠癌术后:普通胰岛素注射液_4 potion,注射用氯诺昔康_8 mg,醋酸地塞米松片_1.5mg,格列齐特缓释片_30mg,头孢呋辛酯片_0.5g",#}
    {#    "male，67，169，76，none:中耳炎,头痛:注射用美洛西林钠舒巴坦钠,阿司匹林肠溶片",#}
    {#    "male，37，166，56，none:糖尿病:注射用美洛西林钠舒巴坦钠,阿司匹林肠溶片"]#}
    {#var prescriptionDemo = [ //随机读取的处方列表#}
    {#    "female，25，164，63，none:糖尿病:普通胰岛素注射液",#}
    {#    "male，57，176，66，Cephalosporins:Diabetic nephropathy,after colonic carcinoma operation:insulin injection_4 potion,Lornoxicam for Injection_8 mg,Dexamethasone acetate tablets_1.5mg,Gliclazide Sustained-release Tablet_30mg,Cefuroxime axetil tablets_0.5g",#}
    {#    "male，67，169，76，none:中耳炎,头痛:注射用美洛西林钠舒巴坦钠,阿司匹林肠溶片",#}
    {#    "male，37，166，56，none:糖尿病:注射用美洛西林钠舒巴坦钠,阿司匹林肠溶片"]#}

    window.onload = function(){
        console.log("111111");
        input_prescription = [];
        input_diags = [];
        input_patient = [];
        localStorage.setItem("inputprescription",JSON.stringify(input_prescription));
        localStorage.setItem("inputdiags",JSON.stringify(input_diags));
        localStorage.setItem("inputpatient",JSON.stringify(input_patient));
        medslist = localStorage.getItem("Meds").split(",");
        console.log(medslist);
        if (medslist == ""||medslist == null) {
            console.log(medslist);
            getInfo();
            medslist = localStorage.getItem("Meds").split(",");
        }
        for (var i = 0; i < medslist.length; i++) {
            $('datalist#medbatch_list').append('<option value="' + medslist[i] + '">' + medslist[i] + '</option>');
        }
        diagslist = localStorage.getItem("Diags").split(",");
        if (diagslist == ""||diagslist == null) {
            getInfo();
            diagslist = localStorage.getItem("Diags").split(",");
        }
        for (var i = 0; i < diagslist.length; i++) {
            console.log(diagslist[i])
            $('datalist#diagbatch_list').append('<option value="' + diagslist[i] + '">' + diagslist[i] + '</option>');
        }
        draw(input_diags,input_prescription);
    {# 处方上传绑定change监听 #}
        var $fileInput =  $("#fileInput");
        $fileInput.change(function () {
            if($(this).val() != "") {
                    var PrescString = null;
                    var objFile = document.getElementById("fileInput");
                    if(objFile.value == "") {
                        alert("选择不能为空");
                    }
                    var files = $('#fileInput').prop('files');//获取到文件列表
                    if(files.length == 0){
                        alert('选择文件');
                    }else {
                        var reader = new FileReader();//新建一个FileReader
                        reader.readAsText(files[0], "UTF-8");//读取文件
                        reader.onload = function (evt) { //读取完文件之后会回来这里
                            PrescString = evt.target.result; // 读取文件内容
                            console.log(PrescString);
                            addPrescription(PrescString);
                        }
                    }
            }
        })
    }
    var drugRiskviz;
    function draw(diag,presc) {
        var hostAndPort=document.location.host;
        var hostAddress = hostAndPort.substr(0,hostAndPort.length - 4)
        var diagcypher = "";
        if (diag == "" || diag == null)
            diagcypher = diagcypher + "where d.diag = '休克'";
        else{
            diagcypher = "where d.diag = '"+ diag[0] + "'";
            for(j = 1; j < diag.length; j++){
                diagcypher = diagcypher + "or d.diag = '" + diag[j] + "'";
            }
        }
        {#alert(diagcypher);#}
        console.log(diagcypher);
        var config = {
            container_id: "drugRiskviz",
            server_url: "bolt://"+hostAddress+":7687",
            {#server_url: "bolt://localhost:7687",#}
            server_user: "neo4j",
            server_password: "sorts-swims-burglaries",
            labels: {
                "diag": {
                    "caption": "diag",
                    "font": {
                        "size":26,}
                },
                "patient": {
                    "pid": "pid",
                    "age": "age",
                    "height": "height",
                    "sex": "sex",
                    "weight":"weight",
                    //"sizeCypher": "MATCH (n) WHERE id(n) = {id} MATCH (n)-[r]-() RETURN sum(r.weight) AS c"
                },
                "med": {
                    "caption": "medName",
                    "medSpec": "medSpec",
                }
            },
            relationships: {
                "huse": {
                    "thickness": "weight",
                    "caption": false
                }
            },
            {#initial_cypher: "match(d:diag)<-[r]-(p:prescription)-[r2]->(m:med) " + diagcypher + " return d,r,p,r2,m limit 50"#}
            initial_cypher: "match(d:diag)<-[r]-(p:prescription)-[r2]->(m:med) where d.diag =\"Diabetic Nephropathy\" or d.diag =\"after colonic carcinoma operation\"  return d,r,p,r2,m limit 50"
        };

        drugRiskviz = new NeoVis.default(config);
        drugRiskviz.render();
        console.log(drugRiskviz);
    }

    var token = $('input[name=csrfmiddlewaretoken]').val();

    function evaluateR(){
        var patient = [];
        var presc =  [];
        var diag =  [];
        patient = JSON.parse(localStorage.getItem("inputpatient"));
        presc = JSON.parse(localStorage.getItem("inputprescription"));
        diag = JSON.parse(localStorage.getItem("inputdiags"));
        if(patient == null || patient == "") {
            patient.push("男");
            patient.push(18);
            patient.push(170);
            patient.push(65);
            patient.push("青霉素");
        }
        if(presc == null || presc == "") {
            presc.push("注射用奥沙利铂");
            presc.push("盐酸利多卡因注射液");
        }
        if(diag == null || diag == "") {
            diag.push("休克");
        }
        console.log(diag);
        console.log(presc);
        console.log(patient);
        draw(diag,presc);
        evaluateRisk(patient,diag,presc);
    }

    function evaluateRisk(patient,diag,presc) {
        {#数据置空#}
        $("#customTable tbody").empty();
        $("#coUseTable tbody").empty();
        $("#RareCoUseTable tbody").empty();
        $("#YBDZTable tbody").empty();
        $("#RareUseTable tbody").empty();
        $("#adverseTable tbody").empty();
        $("#errordoseTable tbody").empty();
        $('#evaluateResult').empty();

        var data = {
            patient:JSON.stringify(patient),
            diag:JSON.stringify(diag),
            prescrpt:JSON.stringify(presc),
            csrfmiddlewaretoken:$('[name="csrfmiddlewaretoken"]').val()
        };
        console.log(data);
        $.ajax({
            url: "/DrugRisk/evaluateRisk/",
            type: "POST",
            data: data,
            success: function (data) {
                console.log(JSON.stringify(data));
                fillData(data);
            },fail(e){
                console.log(e);
            }
        })
    }

    function fillData(data){
    {#result#}
        var evaluateResultdiv = $('#evaluateResult');
        if (data.data.evaluateResult == '0'){
            evaluateResultdiv.html("安全")
        }
        else if(data.data.evaluateResult == '1'){
            evaluateResultdiv.html("警告")
        }
        else{
            evaluateResultdiv.html("高风险")
        }
    {# 个体用药风险#}
        var customtbody = $('#customTable tbody');
        customtbody.empty();
        var num_c = 0;
        var h2 = $('<h2></h2>');
        risk = data.data.CustomRiskList
        console.log("CustomRiskList")
        console.log(data.data.CustomRiskList)
        $(data.data.CustomRiskList).each(function (index) {
            num_c = num_c + 1;
            var val = data.data.CustomRiskList[index];
            var tr = $('<tr></tr>');
            tr.append('<td>' + val + '</td>');
            customtbody.append(tr);
        });
        if(num_c == 0){
            var tr = $('<tr></tr>');
            tr.append('<td colspan="3">'+ '无个体用药风险' +  '</td>');
            customtbody.append(tr);
        }
    {#DDI#}
        var adtbody=$("#adverseTable tbody");
        adtbody.empty();
        var num_ad = 0;
        console.log(data.data.DDIrisklist)
        $(data.data.DDIrisklist).each(function (index) {
            num_ad = num_ad + 1;
            var val = data.data.DDIrisklist[index];
            var tr = $('<tr></tr>');
            tr.append('<td>' + val.m1 + '</td>' + '<td>' + val.m2 + '</td>' + '<td>' + val.risk + '</td>');
            adtbody.append(tr);
        });
        if(num_ad == 0){
            var tr = $('<tr></tr>');
            tr.append('<td colspan="3">'+ '无不良反应' +  '</td>');
            adtbody.append(tr);
        }
    {#罕见联用#}
        var RareCoUsetbody=$("#RareCoUseTable tbody");
        RareCoUsetbody.empty();
        var num_rareCoUse = 0;
        $(data.data.RarecoUselist).each(function (index){
            num_rareCoUse = num_rareCoUse +1;
            var val=data.data.RarecoUselist[index];
            var tr=$('<tr></tr>');
            tr.append('<td>'+ val.med1 + '</td>' + '<td>'+ val.med2 + '</td>' + '<td>'+ val.frequency + '次' + '</td>');
            RareCoUsetbody.append(tr);
        });
        if(num_rareCoUse == 0){
            var tr = $('<tr></tr>');
            tr.append('<td colspan="3">'+ '无罕见联用' +  '</td>');
            RareCoUsetbody.append(tr);
        }
    {#药不对症#}
        var YBDZtbody=$("#YBDZTable tbody");
        YBDZtbody.empty();
        var num_YBDZ = 0;
        $(data.data.YBDZList).each(function (index) {
            num_YBDZ = num_YBDZ +1
            var val = data.data.YBDZList[index];
            var tr = $('<tr></tr>');
            tr.append('<td>' + val.med + '</td>');
            YBDZtbody.append(tr);
        });
        if(num_YBDZ == 0){
            var tr = $('<tr></tr>');
            tr.append('<td colspan="3">'+ '无不对症用药' +  '</td>');
            YBDZtbody.append(tr);
        }
    {#罕见用药#}
        var rareUsetbody=$("#RareUseTable tbody");
        rareUsetbody.empty();
        var num_rareUse = 0;
        $(data.data.RareMedList).each(function (index) {
            num_rareUse = num_rareUse +1
            var val = data.data.RareMedList[index];
            var tr = $('<tr></tr>');
            tr.append('<td>' + val.med + '</td>' + '<td>' + val.frequency + '</td>');
            rareUsetbody.append(tr);
        });
        if(num_rareUse == 0){
            var tr = $('<tr></tr>');
            tr.append('<td colspan="3">'+ '无罕见用药' +  '</td>');
            rareUsetbody.append(tr);
        }
    }

    function addPatient(){
        {#var form_data = $("#form_data").serialize();#}
        var sexval=$('input:radio[name="sex"]:checked').val();
        if (sexval == 'male')
            sex = '男';
        else
            sex = '女';
        {#alert(sex)#}
        var age = $('input#age').val();
        var height = $('input#height').val();
        var weight = $('input#weight').val();
        var allergy = $('input#allergy').val();
        input_patient = [];
        input_patient.push(sex);
        input_patient.push(age);
        input_patient.push(height);
        input_patient.push(weight);
        input_patient.push(allergy);
        localStorage.setItem("inputpatient",JSON.stringify(input_patient));
        console.log(localStorage.getItem("inputpatient"));
        var op = $("#operation");
        var patienttbody = $("#patient_table tbody");
        patienttbody.empty();
        op.empty();
        {#op.append("<img src=\"../static/images/delete.png\" width=\"20\" height=\"20\" onclick=\"deletePatient(this)\"/>")#}
        var tr = $('<tr></tr>');
        tr.append('<td>' + "性别：" + sex + '</td>');
        tr.append('<td>' + "年龄：" + age + '</td>');
        var tr2 = $('<tr></tr>');
        tr2.append('<td>' + "身高：" + height + 'cm' + '</td>');
        tr2.append('<td>' + "体重：" + weight + 'kg' + '</td>');
        var tr3 = $('<tr></tr>');
        tr3.append('<td>' + "过敏：" + allergy + '</td>');
        patienttbody.append(tr);
        patienttbody.append(tr2);
        patienttbody.append(tr3);
    }

    //将患者信息(处方读取字符串)写入系统
    function addPatientFromPresc(ps){
        var op = $("#operation");
        var patienttbody = $("#patient_table tbody");
        patienttbody.empty();
        op.empty();
        op.append("<img src=\"../static/images/delete.png\" width=\"20\" height=\"20\" onclick=\"deletePatient(this)\"/>")
        var sex = ps[0];
        var age = ps[1];
        var height = ps[2];
        var weight = ps[3];
        var allergy = ps[4];
        var tr = $('<tr></tr>');
        tr.append('<td>' + "年龄: " + age + '</td>');
        tr.append('<td>' + "性别: " + sex + '</td>');
        var tr2 = $('<tr></tr>');
        tr2.append('<td>' + "身高: " + height + 'cm' + '</td>');
        tr2.append('<td>' + "体重: " + weight + 'kg' + '</td>');
        var tr3 = $('<tr></tr>');
        tr3.append('<td>' + "过敏: " + allergy + '</td>');
        patienttbody.append(tr);
        patienttbody.append(tr2);
        patienttbody.append(tr3);
    }
    //将使用药物(系统人工输入)写入系统
    function addMed(){
        $(document).ready(function() {
            var inputdata = $('input#medInput').val();
            alert(inputdata)
            if(inputdata == null || inputdata == ""){
                alert("药品不能为空");
            }
            else if (medslist.indexOf(inputdata)!= -1){
                var medtbody = $("#med_table tbody");
                var tr = $('<tr></tr>');
                {#剂量#}
                {#tr.append('<td>' + inputdata + '</td>'+ '<td><select class="selectpicker"><option value="1">剂</option><option value="2">l</option><option value="3">ml</option><option value="4">g</option><option value="5">mg</option></select></td>' + '<td>' + "<img src=\"../static/images/delete.png\" width=\"30\" height=\"30\" onclick=\"javascript:deleteMed(\""+inputdata+"\");\"/>" + '</td>');#}
                tr.append('<td>' + inputdata + '</td>'+ '<td>' + "<img src=\"../static/images/delete.png\" width=\"30\" height=\"30\" onclick=\"javascript:deleteMed(\""+inputdata+"\");\"/>" + '</td>');
                medtbody.append(tr);
                document.getElementById("medInput").value = "";
                var input_prescription = JSON.parse(localStorage.getItem("inputprescription"));
                console.log(input_prescription);
                input_prescription.push(inputdata);
                localStorage.setItem("inputprescription", JSON.stringify(input_prescription));
                {#console.log(localStorage.getItem("inputprescription"));#}
                console.log(input_prescription);
            }
            else{
                alert("Error Drug");
            }
        });
    }


    //将药物(处方读取字符串)写入系统
    function addMedFromPresc(inputdata){
        var medtbody = $("#med_table tbody");
        medtbody.empty();
        localStorage.setItem("inputprescription", JSON.stringify([]));
        var input_prescription = JSON.parse(localStorage.getItem("inputprescription"));
        for(i=0;i<inputdata.length;i++){
            var tr = $('<tr></tr>');
            meditem = inputdata[i].split('_')
            tr.append('<td>' + meditem[0] + '</td>' + '<td>' + "<img src=\"../static/images/delete.png\" width=\"20\" height=\"20\" onclick=\"deleteMed(this)\"/>" + '</td>');
            {#tr.append('<td>' + meditem[0] + '</td>' + '<td>' + meditem[1] + '</td>' + '<td>' + "<img src=\"../static/images/delete.png\" width=\"20\" height=\"20\" onclick=\"deleteMed(this)\"/>" + '</td>');#}
            medtbody.append(tr);
            document.getElementById("medInput").value = "";
            input_prescription.push(meditem[0]);
        }
        localStorage.setItem("inputprescription", JSON.stringify(input_prescription));
        {#console.log(localStorage.getItem("inputprescription"));#}
        console.log(input_prescription);
    }
    //将患者信息(系统人工输入)写入系统
    function addPatient2(){
        $(document).ready(function() {
            var inputdata = $('input#patientInput').val();
            if(inputdata == null || inputdata == ""){
                alert("患者不能为空");
            }
            else{

            }
        });
    }
    //点击读取处方文件：选择文件读取或随机读取
    function fileInputClick(){
        //处方读取方式一：从本地选择txt文件输入。触发点击input标签,onload中有监听fileinput。
        {#document.getElementById("fileInput").click();#}
        //处方读取方式二：随机选择本页面定义的测试处方列表
        var randomPrescription = prescriptionDemo[(Math.floor(Math.random()*10)%prescriptionDemo.length)]
        console.log("randomP:",randomPrescription);
        addPrescription(randomPrescription);
    }
    //从文件中读取处方，返回字符串
    function readPrescriptionFromFile(){
        console.log("read")
        var PrescString = null;
        var objFile = document.getElementById("fileInput");
        if(objFile.value == "") {
            alert("选择不能为空");
        }
        {#console.log(objFile.files[0].size); // 文件字节数#}
        var files = $('#fileInput').prop('files');//获取到文件列表
        if(files.length == 0){
            alert('选择文件');
        }else {
            var reader = new FileReader();//新建一个FileReader
            reader.readAsText(files[0], "UTF-8");//读取文件
            reader.onload = function (evt) { //读取完文件之后会回来这里
                PrescString = evt.target.result; // 读取文件内容
                console.log(PrescString);
                console.log(typeof(PrescString));
            }
        }
        return PrescString;
    }
    //将处方(字符串格式)读入系统算法
    function addPrescription(PrescString){
        var info = PrescString.split(":");
        var ps = info[0].split("，");
        var diags = info[1].split(",");
        var meds = info[2].split(",");
        addDiagFromPresc(diags);
        addMedFromPresc(meds);
        addPatientFromPresc(ps);
    }

    function addDiag(){
        $(document).ready(function() {
            var inputdata = $('input#diagInput').val();
            if(inputdata == null || inputdata == ""){
                alert("诊断不能为空");
            }
            else if (diagslist.indexOf(inputdata)!= -1){
                var diagtbody = $("#diag_table tbody");
                var tr = $('<tr></tr>');
                {#tr.append('<td>' + inputdata + '</td>' + '<td>' + "<img src=\"../static/images/delete.png\" width=\"30\" height=\"30\" onclick=\"javascript:deleteMed(\""+inputdata+"\");\"/>" + '</td>');#}
                tr.append('<td>' + inputdata + '</td>' + '<td>' + "<img src=\"../static/images/delete.png\" width=\"20\" height=\"20\" onclick=\"deleteDiag(this)\"/>" + '</td>');
                diagtbody.append(tr);
                document.getElementById("diagInput").value = "";
                var input_diag = JSON.parse(localStorage.getItem("inputdiags"));
                console.log(input_diag);
                input_diag.push(inputdata);
                localStorage.setItem("inputdiags", JSON.stringify(input_diag));
                console.log(input_diag);
            }
            else{
                alert("Error Diag");
            }
        });
    }
    //将诊断病症(处方读取字符串)写入系统
    function addDiagFromPresc(inputdata){
        var diagtbody = $("#diag_table tbody");
        diagtbody.empty();
        localStorage.setItem("inputdiags", JSON.stringify([]));
        var input_diag = JSON.parse(localStorage.getItem("inputdiags"));
        for(i=0;i<inputdata.length;i++){
            var tr = $('<tr></tr>');
            tr.append('<td>' + inputdata[i] + '</td>' + '<td>' + "<img src=\"../static/images/delete.png\" width=\"20\" height=\"20\" onclick=\"deleteDiag(this)\"/>" + '</td>');
            diagtbody.append(tr);
            input_diag.push(inputdata[i]);
        }
        localStorage.setItem("inputdiags", JSON.stringify(input_diag));
        console.log(input_diag);
    }

    function deletePatient(p){
        var patienttbody = $("#patient_table tbody");
        patienttbody.empty();
        input_patient = [];
        localStorage.setItem("inputpatient",JSON.stringify(input_patient));
        console.log(localStorage.getItem("inputprescription"));
    }
    function deleteMed(tdmed){
        var tr = tdmed.parentElement.parentElement;//获取tr button的父亲的父亲
        var index = tr.rowIndex;//获取是第几行
        {#console.log("index",index);#}
        var table = document.getElementById("med_table");//获取table
        table.deleteRow(index);//table删除第index行

        var input_prescription = JSON.parse(localStorage.getItem("inputprescription"));
        tempP = []
        for (var i = 0; i < input_prescription.length; i++) {
            if (i + 1 != index)
                tempP.push(input_prescription[i])
        }
        localStorage.setItem("inputprescription", JSON.stringify(tempP));
        {#console.log(localStorage.getItem("inputprescription"));#}
        console.log(tempP);
    }
    function clearP(t){
        $("#med_table tbody").html("");

        var input_prescription = JSON.parse(localStorage.getItem("inputprescription"));
        tempP = []
        localStorage.setItem("inputprescription", JSON.stringify(tempP));
        {#console.log(localStorage.getItem("inputprescription"));#}
        console.log(tempP);
    }
    function deleteDiag(tddiag){
        var tr = tddiag.parentElement.parentElement;//获取tr button的父亲的父亲
        var index = tr.rowIndex;//获取是第几行
        {#console.log("index",index);#}
        var table = document.getElementById("diag_table");//获取table
        table.deleteRow(index);//table删除第index行

        var input_diags = JSON.parse(localStorage.getItem("inputdiags"));
        tempD = []
        for (var i = 0; i < input_diags.length; i++) {
            if (i + 1 != index)
                tempD.push(input_diags[i])
        }
        localStorage.setItem("inputdiags", JSON.stringify(tempD));
        {#console.log(localStorage.getItem("inputdiags"));#}
        console.log(tempD);
    }
    function clearD(t){
        $("#diag_table tbody").html("");

        var input_diags = JSON.parse(localStorage.getItem("inputdiags"));
        tempD = []
        localStorage.setItem("inputdiags", JSON.stringify(tempD));
        {#console.log(localStorage.getItem("inputdiags"));#}
        console.log(tempD);
    }

    function getInfo(){
        var data = {csrfmiddlewaretoken:$('[name="csrfmiddlewaretoken"]').val()};
        {#alert(data)#}
        $.ajax({
            {#async: false,#}
            url: "/DrugRisk/getInfo/",
            type: "POST",
            data: data,
            success: function (data) {
                console.log(JSON.stringify(data));
                SendGlobalInfo(data);
            }
        })
    }

    function SendGlobalInfo(data){
        console.log(data.data.Meds);
        console.log(data.data.Diags);
        console.log(typeof (data.data.Meds));
        var Meds = []
        var Diags = []
        var Patient = []
        $(data.data.Meds).each(function (index){
            var val=data.data.Meds[index];
            Meds.push(val);
        });
        $(data.data.Diags).each(function (index){
            var val=data.data.Diags[index];
            Diags.push(val);
        });
        localStorage.setItem("Meds",Meds);
        localStorage.setItem("Diags",Diags);
        console.log(Meds);
        console.log(Diags);
    }

</script>


{% endblock %}
