{% extends "homepage.html" %}

{% block css_js %}
{#    <script type="text/javascript" src="static/js/DrugRisk/index.js"></script>#}
    <script type="text/javascript" src="http://libs.baidu.com/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript"
            src="https://cdn.staticfile.org/twitter-bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script type="text/javascript"
            src="https://cdn.bootcss.com/bootstrap-validator/0.5.3/js/bootstrapValidator.js"></script>
    <link href="static/neo4jd3/neo4jd3.min.css" rel="stylesheet">
    <script type="text/javascript" src="static/js/DrugRisk/neovis.js"></script>
    <script type="text/javascript" src="static/js/DrugRisk/index.js"></script>
    <script src="static/neo4jd3/d3.v4.min.js"></script>
    <script src="static/neo4jd3/neo4jd3.min.js"></script>
{% endblock %}
{%block css %}

<style>
    #diagSearchviz {
        width: 75%;
        height: 500px;
        border: 1px solid lightgray;
        font: 22pt arial;
        margin: 10px;
    }
    label {
        display: inline-block;
        width: 100px;
    }
    input{
        width:200px;
    }
</style>
{% endblock %}

{% block content %}
<div class="row  border-bottom">
    <div class="col-lg-12">
        <div class="tab_title">
            <ul class="nav nav-pills">
                <li class="current">
                    <a href="">疾病查询</a>
                </li>
                <li>
                    <a href="/medSearch">药品查询</a>
                </li>
                <li>
                    <a href="/patternSearch">频繁用药模式查询</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <form class="form-inline wrap_search">
            {% csrf_token %}   <!--加入这行 -->
            <div class="row  m-t p-w-m">

                <div class="form-group m-r m-l">
                    <label>疾病</label>
                </div>

                <div class="form-group">
                    <input type="text" placeholder="请输入疾病" class="form-control" id="diagInput">
                </div>


                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button type="button" class="btn  btn-primary search" onclick="search()">
                                <i class="fa fa-search"></i>查询
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            <hr>
        </form>
    </div>
</div>

<div id="diagSearchviz" style="float:left;width: 60%;height: 500px;border: 1px solid lightgray;margin: 5px;"></div>
<div id="analysis" style="float:left;width:38%;height: 500px;margin: 5px;">
    <div id="count"><h3>该疾病在历史真实处方中出现{{ count }}次</h3></div>
    <div style="margin-bottom:10px;"><h3> 年龄分布：</h3></div>
    <table id="ageTable" class="table table-striped" style="width:85%;margin-left: 10%">
      <thead>
        <tr>
            <th>药物</th>
            <th>次数</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Tanmay</td>
          <td>15</td>
        </tr>
      </tbody>
    </table>
    <div style="margin-bottom:10px;"><h3> 性别分布：</h3></div>
    <table id="sexTable" class="table table-striped" style="width:85%;margin-left: 10%">
      <thead>
        <tr>
            <th>性别</th>
            <th>男 75人(75%)</th>
            <th>女 25人(25%)</th>
        </tr>
      </thead>
    </table>
    <div style="margin-bottom:10px;"><h3> 常用药物：</h3></div>
    <table id="medTable" class="table table-striped" style="width:85%;margin-left: 10%">
      <thead>
        <tr>
            <th>药物</th>
            <th>次数</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Tanmay</td>
          <td>15</td>
        </tr>
        <tr>
          <td>y</td>
          <td>11</td>
        </tr>
        <tr>
          <td>may</td>
          <td>5</td>
        </tr>
      </tbody>
    </table>
</div>
{% endblock %}
{% block js %}
<script type="text/javascript">
    window.onload = draw();

    var diagSearchviz;
    function draw(diag) {
        {#var diag = document.getElementById("diagInput").value#}
        console.log("diag:",diag)
        if (diag == null || diag == "")
            cypher = "match (d:diag{name:\"休克\"})-[r]-(m) return d,r,m"
        else
            cypher = "match (d:diag{name:\""+diag+"\"})-[r]-(m) return d,r,m"
        var config = {
            container_id: "diagSearchviz",
            server_url: "bolt://localhost:7687",
            {#server_url: "bolt://it.ye-soft.com:7687",#}
            server_user: "neo4j",
            server_password: "sorts-swims-burglaries",
            labels: {
                "patient": {
                    "caption": "pid",
                    "age": "age",
                    "height": "height",
                    "sex": "sex",
                    "weight":"weight",
                    //"sizeCypher": "MATCH (n) WHERE id(n) = {id} MATCH (n)-[r]-() RETURN sum(r.weight) AS c"
                },
                "med": {
                    "caption": "medName",
                    "medSpec": "medSpec",
                }
            },
            relationships: {
                "huse": {
                    "thickness": "weight",
                    "caption": false
                }
            },
            initial_cypher: cypher
        };

        neo4jd3viz = new NeoVis.default(config);
        neo4jd3viz.render();
        console.log(neo4jd3viz);

    }

    var token = $('input[name=csrfmiddlewaretoken]').val();

    function search(){
        var diag = document.getElementById("diagInput").value
        draw(diag);
        diagSearch(diag);
    }

    function diagSearch(diag) {
        {#数据置空#}
        $("#count h3").empty();
        $("#count h3").append(+'     在历史真实处方中共出现     次');
        $("#sexTable thead tr").empty();
        $("#medTable tbody").empty();

        var data = {
            diag:diag,
            {#csrfmiddlewaretoken: token,#}
            csrfmiddlewaretoken:$('[name="csrfmiddlewaretoken"]').val()
            {#csrfmiddlewaretoken: '{{ csrf_token }}'#}
        };
        console.log(data);
        $.ajax({
            url: "/KnowledgeSearch/diagSearch/",
            type: "POST",
            data: data,
            success: function (data) {
                console.log(JSON.stringify(data));
                fillData(diag,data);
            }
        })
    }

    function fillData(diag,data){
    {#数量#}
        var counth3=$("#count h3");
        {#counth3.empty();#}
        counth3.append(diag+' 在历史真实处方中共出现  '+data.data.count+'  次')
    {#年龄#}
        $("#ageTable tbody").empty();
    {#性别#}
        var sexTr = $("#sexTable thead tr");
        {#sexTr.empty();#}
        $(data.data.sexList).each(function (index){
            var val=data.data.sexList[index];
            {#tr = '<th>'+ val.sex + '  '+ val.score + '人(' + 100*val.score/data.data.count + '%)</th>';#}
            tr = '<th>'+ val.sex + '  '+ val.score + '人</th>';
            sexTr.append(tr);
        });
        {#sexTr.append('<th>性别</th>'+ '<th>男'+ data.data.sexList[0].score + '人('+data.data.sexList[0].score/data.data.count+')</th>'#}
        {#    + '<th>女'+ data.data.sexList[1].score + '人('+data.data.sexList[1].score/data.data.count+')</th>');#}
    {#药品#}
        var medtbody=$("#medTable tbody");
        {#medtbody.empty();#}
        $(data.data.medList).each(function (index){
            var val=data.data.medList[index];
            var tr=$('<tr></tr>');
            tr.append('<td>'+ val.med + '</td>' + '<td>'+ val.frequency + '</td>');
            medtbody.append(tr);
        });
    }

</script>

{% endblock %}
